<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тракторы</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="../indexx.html"
        ><img src="../AgroTech.png" height="30px" alt=""
      /></a>
    </header>
    <section id="sidenav"></section>
    <div class="sidenav">
      <h1>Аренда</h1>

      <a href="@">Тракторы</a>

      <a href="@">Комбайны</a>
      <a href="@">Опрыскиватели</a>
      <a href=""><h2>К отделу продаж</h2></a>
      <p><a href="../LK_OSNOVA.html">Личный кабинет</a></p>
    </div>
    <div class="main">
      <h2>agrotech (osnova)</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam placeat
        blanditiis atque excepturi dicta eius nostrum mollitia, est expedita
        libero autem non distinctio quo. Est nobis excepturi eaque assumenda
        qui! Nesciunt expedita ex facere qui eligendi ratione ad voluptas,
        deleniti, laborum dolorum repudiandae vero officia ducimus recusandae
        mollitia obcaecati explicabo non maiores culpa natus ab? Esse quisquam
        omnis ipsa facilis? Eius, nostrum culpa? Laboriosam ex atque vitae
        dolores exercitationem perspiciatis maiores vel rerum facilis, deserunt,
        impedit sed a qui! Quia harum ad, id a velit eos itaque at voluptatum
        illo! Asperiores debitis dignissimos ab quae! Exercitationem tenetur et
      </p>
    </div>
    <footer>
      <div class="footers">
        <a href="#sidenav"> <img src="../footerlogo.png" alt="" /></a>
        <p></p>
      </div>
    </footer>
  </body>
</html>
