<!DOCTYPE html>
<html lang="ru">
    </style>
<head>
   {% load static %}
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@1,400;1,700&family=Inter:wght@700&display=swap" rel="stylesheet">
</head>
<style>
   .form_error{
        font-weight: bold;
        position: absolute;
        color: #cb0000;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-family: 'Inter', sans-serif;
        margin-top: -25px;
        padding-left: 8px;
        font-weight: 700;   
}
</style>
<body background>
    <form method = "POST" action="" class ="form">
      {%csrf_token %}
      <h1 class = "form_title">Регистрация</h1>  
      <h1 class = "form_title"></h1>  
      <div class ="form_group">
         <input type = "text" name = "username" class = "form_input" placeholder=" " required> 
         <label class="form_label">Введите логин</label>
      </div>

      <div class ="form_group">
         <input type = "text" name = "first_name" class = "form_input" placeholder=" "required> 
         <label class="form_label">Введите имя</label>
      </div>

      <div class ="form_group">
         <input type = "text" name = "last_name" class = "form_input" placeholder=" "required> 
         <label class="form_label">Введите фамилию</label>
      </div>

      <div class ="form_group">
         <input type = "email" name = "email" class = "form_input" placeholder=" "required> 
         <label class="form_label">Введите вашу почту</label>
      </div>

      <div class ="form_group">
         <input type = "password" name = "password1" class = "form_input" placeholder=" "required> 
         <label class="form_label">Введите пароль</label>
      </div>
     

      <div class ="form_group">
         <input type = "password" name = "password2" class = "form_input" placeholder=" "required> 
         <label class="form_label">Подтвердите пароль</label>
      </div>
      {%for message in messages%}
      <p class = "form_error" id = ''>{{message}}</p>
      {%endfor%}
      <button type = "submit" class="form_button">Зарегистрироваться</button>     


      <button class ="form_button2"><a href="{% url 'login' %}">У меня уже есть аккаунт</a></button>
</a>
      
    <a href="{%url 'home' %}"> <p id = "ATech">Agro Tech</p></a>
    
    </form>


</body>
</html>